@import '../fonts/univers.css';
/* css reset */
@import '../static/jquery-ui.css';
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
table,
th,
td,
embed,
object {
  padding: 0;
  margin: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img,
abbr {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.0em;
}
q:before,
q:after {
  content: '';
}
a,
ins {
  text-decoration: none;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Verdana, Trebuchet;
}
/* END css reset */
.ui-widget {
  font-family: univer, Arial, Verdana, Trebuchet;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  display: none;
}
.ui-state-default,
.ui-widget-content .ui-state-default {
  background: inherit;
  border: none;
}
.ui-widget-header {
  border: none;
  background: none;
  padding: 0;
}
.ui-widget.ui-widget-content {
  border-color: #c2c7cb;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
.ui-corner-all {
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-state-active,
.ui-widget-content .ui-state-active {
  color: #3196ca;
  font-weight: normal;
}
.ui-datepicker {
  padding: 5px 10px 3px 10px;
  opacity: 0.95;
  width: 205px;
}
.ui-datepicker th {
  padding: .2em .1em;
  line-height: 26px;
  font-size: 16px;
}
.ui-datepicker .ui-datepicker-title {
  margin: 1px 0 0 1px;
  line-height: 16px;
  width: 204px;
  overflow: hidden;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  position: relative;
  padding-top: 1px;
  line-height: 25px;
  height: 19px;
  font-family: univer, Arial, Verdana, Trebuchet;
  font-size: 13px;
  border: none;
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhEQATAMQAAK+vr19fX2FhYeXl5a2trfHx8erq6uvr6+3t7ezs7GBgYOjo6PDw8O7u7unp6e/v7+/v7+bm5ufn566urgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS41LWMwMTQgNzkuMTUxNDgxLCAyMDEzLzAzLzEzLTEyOjA5OjE1ICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ0MgKFdpbmRvd3MpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjY3MEMwQjM2QjY3QTExRTY4NjVDQjAwMDdGQTVDMTQ3IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjY3MEMwQjM3QjY3QTExRTY4NjVDQjAwMDdGQTVDMTQ3Ij4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NjcwQzBCMzRCNjdBMTFFNjg2NUNCMDAwN0ZBNUMxNDciIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NjcwQzBCMzVCNjdBMTFFNjg2NUNCMDAwN0ZBNUMxNDciLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4B//79/Pv6+fj39vX08/Lx8O/u7ezr6uno5+bl5OPi4eDf3t3c29rZ2NfW1dTT0tHQz87NzMvKycjHxsXEw8LBwL++vby7urm4t7a1tLOysbCvrq2sq6qpqKempaSjoqGgn56dnJuamZiXlpWUk5KRkI+OjYyLiomIh4aFhIOCgYB/fn18e3p5eHd2dXRzcnFwb25tbGtqaWhnZmVkY2JhYF9eXVxbWllYV1ZVVFNSUVBPTk1MS0pJSEdGRURDQkFAPz49PDs6OTg3NjU0MzIxMC8uLSwrKikoJyYlJCMiISAfHh0cGxoZGBcWFRQTEhEQDw4NDAsKCQgHBgUEAwIBAAAh+QQAAAAAACwAAAAAEQATAAAFmOAkisBomgCjrgVUMO0qQnQNqfQKTYDtM74JoeGrESHH2bF4JAobRGhUimwgAICEFaFAILaKhBchSogTirA5IDAfEqLD+6Bg0wUBuVxkcDj6aXUKBgcGhiJ+f36BBguJDoiPfQIOC32JIo4SC5sOmwucoAsiEpulCxESqaWspKqsp7ClIhGpA7W4ubW0EQMSt7q5JwQnxRMhADs=');
  background-repeat: no-repeat;
  background-position-y: 0;
}
.ui-datepicker select.ui-datepicker-month:before,
.ui-datepicker select.ui-datepicker-year:before {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  display: block;
  height: 19px;
  width: 17px;
  background-image: url('data:image/gif;base64,R0lGODlhEQATAMQAANvv+9jv++by+eby/t3v/+Lx++n0/Fy17WO07eDw/uf0+gAAAef0/dTu/Vu07eH0/d3w/dXv/d7w+uLv+ly18GG07+3y+9fu/9nv/+j0/dbt/eXy/dfu/efz/GC17QAAACH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS41LWMwMTQgNzkuMTUxNDgxLCAyMDEzLzAzLzEzLTEyOjA5OjE1ICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ0MgKFdpbmRvd3MpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjVGMUYzOTM3QjY3QTExRTZCQ0ExRTU1Qzg3ODRDNDhFIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjVGMUYzOTM4QjY3QTExRTZCQ0ExRTU1Qzg3ODRDNDhFIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NUYxRjM5MzVCNjdBMTFFNkJDQTFFNTVDODc4NEM0OEUiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NUYxRjM5MzZCNjdBMTFFNkJDQTFFNTVDODc4NEM0OEUiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4B//79/Pv6+fj39vX08/Lx8O/u7ezr6uno5+bl5OPi4eDf3t3c29rZ2NfW1dTT0tHQz87NzMvKycjHxsXEw8LBwL++vby7urm4t7a1tLOysbCvrq2sq6qpqKempaSjoqGgn56dnJuamZiXlpWUk5KRkI+OjYyLiomIh4aFhIOCgYB/fn18e3p5eHd2dXRzcnFwb25tbGtqaWhnZmVkY2JhYF9eXVxbWllYV1ZVVFNSUVBPTk1MS0pJSEdGRURDQkFAPz49PDs6OTg3NjU0MzIxMC8uLSwrKikoJyYlJCMiISAfHh0cGxoZGBcWFRQTEhEQDw4NDAsKCQgHBgUEAwIBAAAh+QQAAAAAACwAAAAAEQATAAAF1qDnHdWBHKIznqmXGbCRzYwsyEblMor84q8OzINQ1CwPhbBjVHY6HopyMFA4Z4POTFFxPDIbbWfDCHcYncfDgRhsNoKCYDwWvOFReKew2BTgG312GzoJBQmBH4d8HxsSBRAiCRKGCx8LCR+XEAkQkQgEBBIQE5amABMQoyKeABgEpZoABBgAnlEArq8EAB+uuhiRB7MYARABucW5EQABURgc0ADMERccBAHFGCIazBcaHBwRDREaARzWFQgNBOHn4fDwER4VDfYa+Pn6+A4kIiP/AoooEQIAOw==');
  background-repeat: no-repeat;
}
.ui-datepicker select.ui-datepicker-month:focus,
.ui-datepicker select.ui-datepicker-year:focus {
  background-image: url('data:image/gif;base64,R0lGODlhEQATAMQAANvv+9jv++by+eby/t3v/+Lx++n0/Fy17WO07eDw/uf0+gAAAef0/dTu/Vu07eH0/d3w/dXv/d7w+uLv+ly18GG07+3y+9fu/9nv/+j0/dbt/eXy/dfu/efz/GC17QAAACH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS41LWMwMTQgNzkuMTUxNDgxLCAyMDEzLzAzLzEzLTEyOjA5OjE1ICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ0MgKFdpbmRvd3MpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjVGMUYzOTM3QjY3QTExRTZCQ0ExRTU1Qzg3ODRDNDhFIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjVGMUYzOTM4QjY3QTExRTZCQ0ExRTU1Qzg3ODRDNDhFIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NUYxRjM5MzVCNjdBMTFFNkJDQTFFNTVDODc4NEM0OEUiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NUYxRjM5MzZCNjdBMTFFNkJDQTFFNTVDODc4NEM0OEUiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4B//79/Pv6+fj39vX08/Lx8O/u7ezr6uno5+bl5OPi4eDf3t3c29rZ2NfW1dTT0tHQz87NzMvKycjHxsXEw8LBwL++vby7urm4t7a1tLOysbCvrq2sq6qpqKempaSjoqGgn56dnJuamZiXlpWUk5KRkI+OjYyLiomIh4aFhIOCgYB/fn18e3p5eHd2dXRzcnFwb25tbGtqaWhnZmVkY2JhYF9eXVxbWllYV1ZVVFNSUVBPTk1MS0pJSEdGRURDQkFAPz49PDs6OTg3NjU0MzIxMC8uLSwrKikoJyYlJCMiISAfHh0cGxoZGBcWFRQTEhEQDw4NDAsKCQgHBgUEAwIBAAAh+QQAAAAAACwAAAAAEQATAAAF1qDnHdWBHKIznqmXGbCRzYwsyEblMor84q8OzINQ1CwPhbBjVHY6HopyMFA4Z4POTFFxPDIbbWfDCHcYncfDgRhsNoKCYDwWvOFReKew2BTgG312GzoJBQmBH4d8HxsSBRAiCRKGCx8LCR+XEAkQkQgEBBIQE5amABMQoyKeABgEpZoABBgAnlEArq8EAB+uuhiRB7MYARABucW5EQABURgc0ADMERccBAHFGCIazBcaHBwRDREaARzWFQgNBOHn4fDwER4VDfYa+Pn6+A4kIiP/AoooEQIAOw==');
}
.ui-datepicker select.ui-datepicker-month {
  width: 120px;
  margin-right: -20px;
  background-position-x: 82px;
}
.ui-datepicker select.ui-datepicker-year {
  padding-left: 4px;
  width: 124px;
  margin-right: -20px;
  background-position-x: 87px;
}
.ui-datepicker td a {
  text-align: center;
  padding: 2px 0 4px 0;
  line-height: 22px;
  font-size: 16px;
}
body {
  font-family: univer, Arial, Verdana, Trebuchet;
  background: #fafafa;
}
.content {
  display: block;
  width: 750px;
  margin: 0 auto;
}
.main-form {
  width: auto;
}
.form-header {
  font-size: 14px;
  color: #409acc;
}
.form-header,
.control__label {
  font-weight: bold;
  text-transform: uppercase;
}
.control__label {
  font-weight: bold;
  font-size: 12px;
}
.form-header {
  font-weight: bold;
  line-height: 64px;
  height: 64px;
}
.control {
  background: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #c2c7cb;
  border-right-style: none;
  border-bottom-style: none;
}
.control:last-child {
  border-bottom-style: solid;
}
.control__error {
  position: relative;
  clear: both;
  height: 38px;
  line-height: 38px;
  font-size: 13px;
  background: #e9393b;
  color: #ffffff;
  padding-left: 18px;
  -webkit-transition: height 0.3s linear 0s;
  -moz-transition: height 0.3s linear 0s;
  -o-transition: height 0.3s linear 0s;
  transition: height 0.3s linear 0s;
}
.control__error:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 43px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: inherit;
  border-bottom-color: #e9393b;
  border-width: 0 4px 4px 4px;
}
.control__error_hidden {
  overflow: hidden;
  height: 0;
}
.control_required .control__label label:before {
  content: '*';
  color: #e83a39;
}
.control__label {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 69px;
  padding: 0 0 0 16px;
  width: 172px;
}
.control__cntrl {
  position: relative;
  width: auto;
  padding-left: 172px;
}
.control__cntrl:before {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  width: 4px;
  height: 69px;
  background: #d6eaf5;
}
.control__cntrl_calendar:after {
  position: absolute;
  content: '';
  display: block;
  right: 25px;
  top: 23px;
  z-index: 0;
  width: 27px;
  height: 26px;
  background-image: url('data:image/png;base64,R0lGODlhGwAaAMQAALnAw6WvtZujqbW6wMPIzOfn6aKqr+Hj5qmvs83R1LzBxMjN0NXW2PP09vn5+enu7+bp7P3+/qGprevv87G1u//+/PX2+Pr6/KyxtdfY2v3+///+/////f7+/v7//////yH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS41LWMwMTQgNzkuMTUxNDgxLCAyMDEzLzAzLzEzLTEyOjA5OjE1ICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ0MgKFdpbmRvd3MpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjgxNTZFNTRFQjY1OTExRTZBOUNFQTQ0MDAxRTMwNEVCIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjgxNTZFNTRGQjY1OTExRTZBOUNFQTQ0MDAxRTMwNEVCIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6ODE1NkU1NENCNjU5MTFFNkE5Q0VBNDQwMDFFMzA0RUIiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6ODE1NkU1NERCNjU5MTFFNkE5Q0VBNDQwMDFFMzA0RUIiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4B//79/Pv6+fj39vX08/Lx8O/u7ezr6uno5+bl5OPi4eDf3t3c29rZ2NfW1dTT0tHQz87NzMvKycjHxsXEw8LBwL++vby7urm4t7a1tLOysbCvrq2sq6qpqKempaSjoqGgn56dnJuamZiXlpWUk5KRkI+OjYyLiomIh4aFhIOCgYB/fn18e3p5eHd2dXRzcnFwb25tbGtqaWhnZmVkY2JhYF9eXVxbWllYV1ZVVFNSUVBPTk1MS0pJSEdGRURDQkFAPz49PDs6OTg3NjU0MzIxMC8uLSwrKikoJyYlJCMiISAfHh0cGxoZGBcWFRQTEhEQDw4NDAsKCQgHBgUEAwIBAAAh+QQAAAAAACwAAAAAGwAaAAAF/+AndiLXeR+Zimy7smrHfV7sofFnumPLOJ/N56cbXiKsmet2QxxEHmctekDdlK3DYGsIbAfdrwGxXQBdDckikRAQ2O032802JHgFA1RQoH34fnwoAANYKRASRRNnHA8OMx6LQQoDKC15OhUekJpCHkIbQoSWLBB6JA0WFx8XFo8XqUcfhC0kiCgbAgIJHAQCCB4Hug8ihCpFeVMUFBkeCRSVD8sWKYSGHwWJIhocVikVLBUzhEKXeim6CRu+AR3CAsSzAy0zplABCAwfCwEYHgUBAjQoNo+FBg15jlm6oYODwyK0kmA7FyWfhwUI/AFEMEEEpVofTJHQkM6DL2AFdFNNIDGKRY1kGqDQYDhzhQdyMDhgahFqRk8sHXBC0WAPyidIIkBtmEGJlA4HAbogwDeVatWrdq6JyMCgq9evYDPEc6GCCQ+jPc6uOKaWbNsXb8+GAAA7');
}
.control__cntrl_calendar:before {
  background: #d6eaf5;
}
.control__cntrl_calendar .control__input {
  cursor: pointer;
}
.control__cntrl_valid:before {
  background: #b0cb62;
}
.control__cntrl_editing .control__input,
.control__cntrl_not-valid .control__input {
  border-left: 1px solid #e9eaec;
}
.control__cntrl_not-valid:before {
  background: #e83a39;
}
.control__cntrl_not-valid .control__input {
  background: #fff5f6;
}
.control__cntrl_editing:before {
  background: #3196ca;
}
.control__cntrl_editing .control__input {
  background: #f4f9fc;
}
.control__input {
  display: block;
  padding-left: 20px;
  width: 100%;
  border: none;
  height: 69px;
  line-height: 18px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
}
.footer {
  height: 200px;
}
